# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: 3306
    database_name: oc_projet_4
    database_user: root
    database_password:
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: e08550f9ebb3586ef600df8a0eb666f1cab33a41

    # Custom Louvre parameter
    locale: fr
    max_capacity: 1000
    max_purchase_item: 10
    stripe_key: sk_test_38PClEzE3aFXRhDXqsHBJrzo
    mailer_from: no-reply@evaneox.com
    mailer_reply: contact@evaneox.com
    mailer_name: Musée du Louvre